.about-family .container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg");
  background-repeat: no-repeat;
  background-position: 148px 168px, 1500px 457px, 1457px 1862px, 1550px 2562px, 1422px 3662px, 54px 1233px, 154px 3233px, 54px 4233px, 154px 5233px, 1457px 5862px, 1557px 4862px;
}

.about-family__title {
  margin: 20px 0 0 0;
  font-size: 64px;
  line-height: 75px;
}

.about-family__text {
  font-size: 20px;
  padding: 0 200px;

  &:nth-child(2) {

  }
  &:nth-child(3){

  }
  &:nth-child(4){

  }
  &:nth-child(5){

  }
  &:nth-child(6){

  }
  &:nth-child(7){

  }
  &:nth-child(8){

  }
  &:nth-child(9){

  }
  &:nth-child(10){

  }
  &:nth-child(11){
  }

  &:nth-child(12) {
  }

  &:nth-child(13){
    padding: 0 200px 0 857px;
  }
  &:nth-child(14){
    padding: 0 200px 0 857px;
  }
  &:nth-child(15){

  }
  &:nth-child(16){

  }
  &:nth-child(17){

  }
  &:nth-child(18){

  }
  &:nth-child(19){

  }
  &:nth-child(20){

  }
  &:nth-child(21){

  }
  &:nth-child(22){

  }
  &:nth-child(23){

  }
}

.about-family__img {
  padding: 0 200px;

  &2  {
    align-self: flex-start;
    position: absolute;
    top: 2835px;
    left: 222px;
  }
}

.about-family__bibliografy-title {

}

.about-family__bibliografy {

}

.about-family__bibliografy-item {

}
