.contacts-main {
  padding: 0 0 20px 0;
}

.contacts-main .container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 150px 350px 120px 120px 70px;
  grid-template-areas: "A A" "B C" "D C" "E C" "F C";
  grid-row-gap: 10px;
  grid-column-gap: 25px;
}

.contacts-main__title {
  grid-area: A;
  font-size: 64px;
  font-weight: 400;
}

.contacts-main__logo {
  grid-area: B;
  height: 100%;
}

.contacts-main__adress {
  grid-area: D;
  line-height: 2;
  span {
    font-size: 19px;
    line-height: 1;
    border-bottom: 3px solid $sky;
  }
}

.contacts-main__email {
  grid-area: E;

  span {
    font-size: 30px;
    line-height: 2;
    border-bottom: 3px solid $sky;
  }
}

.contacts-main__email-link {
  display: block;
  grid-area: F;
  border: 3px solid $sky;
  place-self: center;
  padding: 20px 70px;
  font-size: 30px;
  font-weight: bold;
  color: $sky;
  background-color: $white;
  transition: $transition-fast;
  border-radius: 20px;

  &:hover {
    color: $white;
    background-color: $sky;
    transition: $transition-fast;
  }
}

.contacts-main__iframe {
  grid-area: C;
}
