.film-main .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px 50px;
//   background: url('../img/hero/hero-rect.svg'), url('../img/hero/hero-rect.svg'), url('../img/hero/hero-rect.svg'), url('../img/hero/hero-rect.svg'), url('../img/hero/hero-rect.svg');
//   background-position: right 329px top 197px, right 79px top 402px, right 339px top 525px, right 637px top 684px;
//   background-repeat: no-repeat;
}

.film-main__title {
  width: 100%;
  font-size: 64px;
  font-weight: 400;
}

.film-main__content {
  margin: 0 auto;
  width: 70%;
  height: 600px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.film-main__authors {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.film-main__authors-item {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.film-main__figcaption {
  position: absolute;
}

.film-main__authors-item--chore {
  width: 100%;
  height: 550px;
  transition: $transition-slow;


  .film-main__figcaption {
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    text-align: center;

    a {
      display: block;
      height: 100%;
      padding: 16px 0 0 0;
      font-size: larger;
    }
  }

  .film-main__author-img {
    overflow: hidden;

    img {
      transition: $transition-slow;
      width: 100%;
      max-width: none;
      max-height: none;
      height: auto;
      margin: -250px 0 0 0;
    }
  }

  &:hover {
    .film-main__author-img img {
      transition: $transition-slow;
      margin: -270px 0 0 0;
      width: 105%;
      max-width: none;
      max-height: none;
      height: auto;
    }
  }
}

.film-main__authors-item--doncov-chore {
  width: 33.3%;
  height: 400px;

  .film-main__figcaption {
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    text-align: center;

    a {
      display: block;
      height: 100%;
      padding: 6px 0 0 0;
    }
  }

  .film-main__author-img {
    overflow: hidden;

    img {
      width: 200%;
      height: auto;
    }
  }
}


.film-main__authors-item--history-consult {
  width: 33.3%;
  height: 400px;

  .film-main__figcaption {
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    text-align: center;

    a {
      display: block;
      height: 100%;
      padding: 6px 0 0 0;
    }
  }

  .film-main__author-img {
    overflow: hidden;
    height: 100%;

    img {
      height: 170%;
      margin: 0 0 0 -190px;
      max-height: none;
      max-width: none;
    }
  }
}

.film-main__authors-item--voice {
  width: 33.4%;
  height: 400px;

  .film-main__figcaption {
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    text-align: center;

    a {
      display: block;
      height: 100%;
      padding: 16px 0 0 0;
    }
  }

  .film-main__author-img {
    overflow: hidden;
    height: 100%;

    img {
      height: 100%;
      margin: 0 0 0 -100px;
      max-height: none;
      max-width: none;
    }
  }
}


.film-main__author-img {

}



.film-main__author {

}



