.footer .container {
  position: relative;

  @media (max-width: 700px) {
    padding: 0;
  }
}

.footer__list {
  background-color: $sky;
  display: flex;
  margin: 0 0 0 0;
  min-height: 306px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.footer__list-item {
  padding: 20px;
  width: 37.5%;
  display: flex;
  flex-direction: column;

  &:last-child {
    .footer__list-item-title {
      text-align: left;
      padding: 0 0 0 50px;
    }
  }

  @media (max-width: 700px) {
    padding: 20px 0 20px 0;
  }

  @media (max-width: 370px) {
    padding: 0 0 10px 0;
  }
}

.footer__list-item--feedback {
  @media (max-width: 1200px) {
    order: 2;
    width: 65%;
  }

  @media (max-width: 800px) {
    width: 100%;
  }


  @media (max-width: 700px) {
    display: none;
  }
}

.footer__list-item--social-networks {
  display: grid;
  grid-template-columns: 1fr 70px 70px 70px 70px 1fr;
  grid-template-rows: 420px 70px;
  grid-template-areas: "A A A A A A" ". B C D E .";
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 100%;
  width: 25%;

  @media (max-width: 1599px) {
    width: 390px;
  }

  @media (max-width: 1200px) {
    order: 1;
  }

  @media (max-width: 800px) {
    width: 100%;
  }

  @media (max-width: 370px) {
    grid-row-gap: 1px;
    grid-column-gap: 5px;
    grid-template-columns: 10px 70px 70px 70px 70px 10px;
    width: 320px;
    margin: 0 auto;
  }
}

.footer__list-item-title {
  text-align: right;
  color: orange;
  font-size: 29px;
  font-weight: 700;

  @media (max-width: 1268px) {
    font-size: 25px;
  }

  @media (max-width: 1200px) {
    text-align: left;
    padding: 0 0 0 10px;
    font-size: 29px;
  }

  @media (max-width: 860px) {
    font-size: 25px;
  }

  @media (max-width: 807px) {
    font-size: 23px;
  }

  @media (max-width: 800px) {
    text-align: center;
    font-size: 35px;
    padding: 0;
    margin: 0 0 10px 0;
  }
}

.footer__list-item-text {
  margin: 0;
}

.footer__list-item-link,
.footer__list-item-text {
  color: $white;
  transition: $transition-fast;
  font-size: 27px;
  text-align: right;
  padding: 10px 10px;

  @media (max-width: 1463px) {
    padding: 6px 10px;
  }

  @media (max-width: 1463px) {
    padding: 5px 10px;
  }

  @media (max-width: 1391px) {
    font-size: 26px;
  }

  @media (max-width: 1391px) {
    font-size: 25px;
  }

  @media (max-width: 1328px) {
    font-size: 24px;
  }

  @media (max-width: 1297px) {
    padding: 4px 10px;
    font-size: 25px;
  }

  @media (max-width: 1205px) {
    font-size: 24px;
  }

  @media (max-width: 1200px) {
    text-align: left;
    font-size: 27px;
    padding: 10px 10px;
  }

  @media (max-width: 947px) {
    font-size: 25px;
  }

  @media (max-width: 911px) {
    padding: 6px 10px;
  }

  @media (max-width: 880px) {
    font-size: 24px;
  }

  @media (max-width: 804px) {
    padding: 4px 10px;
  }

  @media (max-width: 800px) {
    text-align: center;
    font-size: 29px;
  }

  &:hover {
    color: orange;
  }
}


.footer__list-item--org-info {
  @media (max-width: 1200px) {
    display: none;
  }
}

.footer__logo {
  grid-area: A;
  margin: 0 10% 0 10%;
  width: 80%;

  svg {
    fill: $white;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 470px) {
    margin: 0 auto;
  }
}

.footer__list-youtube {
  grid-area: C;
  fill: #ff1616;
  transition: $transition-fast;

  svg {
    transition: $transition-fast;
    &:hover {
      transition: $transition-fast;
      filter: drop-shadow(0 0 10px rgb(74, 74, 74));
      padding: 5px 0 0 0;
    }
  }
}


.footer__list-vk {
  grid-area: B;
  fill: #0000df;
  transition: $transition-fast;

  svg {
    transition: $transition-fast;
    &:hover {
      transition: $transition-fast;
      filter: drop-shadow(0 0 10px rgb(74, 74, 74));
      padding: 5px 0 0 0;
    }
  }
}

.footer__list-instagram {
  grid-area: D;
  fill: pink;
  transition: $transition-fast;

  svg {
    transition: $transition-fast;
    &:hover {
      transition: $transition-fast;
      filter: drop-shadow(0 0 10px rgb(74, 74, 74));
      padding: 5px 0 0 0;
    }
  }
}

.footer__list-mail {
  grid-area: E;
  fill: #0000df;
  transition: $transition-fast;

  svg {
    transition: $transition-fast;
    &:hover {
      transition: $transition-fast;
      filter: drop-shadow(0 0 10px rgb(74, 74, 74));
      padding: 5px 0 0 0;
    }
  }
}

.footer__developed {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 10px 20px;
  background-color: rgb(37, 37, 37);

  @media (max-width: 886px) {
    font-size: smaller;
  }

  @media (max-width: 752px) {
    font-size: larger;
  }

  @media (max-width: 497px) {
    flex-direction: column;
  }

}

.footer__citation {
  width: 50%;
  margin: 0 0 0 0;
  color: $white2;

  @media (max-width: 752px) {
    display: none;
  }
}

.footer__developer {
  color: $white2;
  width: 50%;
  margin: 0 0 0 0;

  @media (max-width: 752px) {
    display: none;
  }

  @media (min-width: 753px) {
    &:nth-child(2) {
      text-align: end;
    }

    &:nth-child(3) {
      margin: 7px 0 0 0;
    }

    &:nth-child(4) {
      text-align: end;
      margin: 7px 0 0 0;
    }
  }
}

.footer__citation-phones {
  display: none;
  color: #cecece;


  @media (max-width: 752px) {
    display: block;
    width: 50%;
    margin: 0;
    padding: 0 0 10px 0;
  }

  @media (max-width: 588px) {
    font-size: smaller;
  }

  @media (max-width: 497px) {
    text-align: center;
    width: 100%;
  }
}

.footer__developer-phones {
  display: none;
  color: #cecece;

  @media (max-width: 752px) {
    display: block;
    width: 50%;
    margin: 0;
    padding: 0 0 10px 0;
  }

  @media (max-width: 588px) {
    font-size: smaller;
  }

  @media (max-width: 497px) {
    text-align: center;
    width: 100%;
  }
}

.footer__developer-phones--design,
.footer__developer-phones--content {
  @media (max-width: 752px) {
    text-align: right;
  }

  @media (max-width: 497px) {
    text-align: center;
    width: 100%;
  }
}

.footer__link {

}

.footer__link {
  color: rgb(123, 107, 107);
  &:hover {
    color: orange;
  }
}

.footer__organization-info,
.footer__organization-inn,
.footer__organization-kpp,
.footer__organization-ogrn,
.footer__organization-bank-order,
.footer__organization-ks,
.footer__organization-bik,
.footer__organization-bank-inn,
.footer__organization-bank-ogrn {
  padding: 5px 10px;
  margin: 0 10px 0 0;
  color: #fff;
  text-align: left;
  font-size: 24px;

  @media (max-width: 1396px) {
    padding: 5px 6px;
  }

  @media (max-width: 1380px) {
    font-size: 23px;
  }

  @media (max-width: 1345px) {
    font-size: 22px;
  }

  @media (max-width: 1311px) {
    font-size: 21px;
  }

  @media (max-width: 1249px) {
    padding: 4px 6px;
  }

  &:hover {
    color: orange;
  }
}
