.footer .container {
  position: relative;
}

.footer__list {
  background-color: $sky;
  display: flex;
  margin: 0 0 0 0;
  min-height: 306px;
}

.footer__list-item {
  padding: 20px;
  width: 33.3%;
  display: flex;
  flex-direction: column;

  &:last-child {
    .footer__list-item-title {
      text-align: left;
      padding: 0 0 0 50px;
    }
  }
}

.footer__list-item-title {
  text-align: right;
  color: orange;
  font-size: 29px;
  font-weight: 700;
}

.footer__list-item-link {
  color: $white;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  text-align: right;
  padding: 10px 10px;

  &:hover {
    color: orange;
  }
}

.footer__list-soc-networks {
  padding: 0 10px 0 0;
  font-size: 70px;
  text-align: right;
  color: $white;

  a {
    transition: all 0.5s ease-in-out;
  }

  a:hover {
    color: orange;
  }
}

.footer__logo {
  // position: absolute;
  // top: 20px;
  // right: 620px;
  margin: 0 10% 0 10%;
  width: 80%;
  svg {
    width: 100%;
    height: auto;
    fill: $white;
  }

  svg:hover {
    fill: rgb(107, 168, 238);
  }
}

.footer__developed {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 10px 20px;
  background-color: rgb(37, 37, 37);
}

.footer__citation {
  width: 50%;
  margin: 0 0 0 0;
  color: $white2;
}

.footer__developer {
  color: $white2;
  width: 50%;
  margin: 0 0 0 0;

  &:nth-child(2) {
    text-align: end;
  }

  &:nth-child(3) {
    margin: 7px 0 0 0;
  }

  &:last-child {
    text-align: end;
    margin: 7px 0 0 0;
  }
}

.footer__link {
  color: rgb(123, 107, 107);
  &:hover {
    color: orange;
  }
}

.footer__organization-info,
.footer__organization-inn,
.footer__organization-kpp,
.footer__organization-ogrn,
.footer__organization-bank-order,
.footer__organization-ks,
.footer__organization-bik,
.footer__organization-bank-inn,
.footer__organization-bank-ogrn {
  padding: 5px 10px;
  margin: 0 10px 0 0;
  color: #fff;
  text-align: left;
  font-size: 19px;

  &:hover {
    color: orange;
  }
}


.footer__list-item:nth-child(2) {
  // display: flex;
  // flex-wrap: wrap;
}
