.header {
  min-height: 85px;
  background: $header-line;

  @media (max-width: 800px) {
    min-height: 70px;
    background: $header-line-mobile;
  }
}

.header .container {
  position: relative;

  @media (max-width: 800px) {
    padding: 0;
  }
}
