.header {
  min-height: 85px;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%) no-repeat center bottom / 1560px 2px;
}

.header .container {
  position: relative;
}

.header__logo {
  position: absolute;
  right: 19px;
  top: 20px;
  width: 40px;
  height: 50px;
}

.header__img {
  transition: all 0.5s ease;

  &:hover {
    fill: $sky;
  }

  &:active {
    fill: $white2;
  }

}
