.main-nav__list {
  display: flex;
  margin: 0;
  padding: 34px 0 0 0;
}

.main-nav__item {
  margin: 0 59px 0 0;
  padding: 0 0 6px 0;
  font-size: 19px;
  line-height: 21px;
  border-bottom: 2px solid $opacity0;
  transition: $transition-slow;
  color: $black;
  position: relative;
  display: inline-block;

  &:hover {
    border-bottom: 2px solid $sky;
    color: $sky;
  }

  &:active {
    border-bottom: 2px solid $white2;
    color: $white2;
  }

  &--current {
    border-bottom: 2px solid $sky;
    color: $sky;

    @media (max-width: 800px) {
      color: rgb(107, 107, 107);
    }
  }
}

.main-nav__logo {
  position: absolute;
  right: 19px;
  top: 20px;
  width: 40px;
  height: 50px;

  @media (max-width: 800px) {
    right: 10px;
    top: 10px;
  }
}

.main-nav__img {
  transition: $transition-slow;

  &:hover {
    fill: $sky;
  }

  &:active {
    fill: $white2;
  }
}

.main-nav__burger {
  display: none;
  background-image: url("../img/svg/burger-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 70px;
  width: 70px;
  margin: 0;

  @media (max-width: 800px) {
    display: block;
  }
}

.main-nav--closed {
  @media (max-width: 800px) {
    .main-nav__list {
      display: none;
    }
  }
}

.main-nav--opened {
  width: 100%;

  .main-nav__list {
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    background: linear-gradient(180deg, transparent 0,rgba(0, 0, 0, 0.1) 100%) bottom/800px 10px no-repeat #fcfcfc;
  }

  .main-nav__list .main-nav__item {
    border-bottom: 1px solid rgb(214, 214, 214);
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 20px 0 20px 0;
  }

  .main-nav__list .main-nav__item a span {
    display: none;
  }

  .main-nav__burger {
    background-image: url(../img/svg/burger-close.svg);
    position: absolute;
    top: 0;
    left: 0;
  }

  .main-nav__logo {
    display: none;
  }
}

