.main-nav__list {
  display: flex;
  margin: 0;
  padding: 34px 0 0 0;
}

.main-nav__item {
  margin: 0 59px 0 0;
  padding: 0 0 6px 0;
  font-size: 19px;
  line-height: 21px;
  border-bottom: 2px solid $opacity0;
  transition: all 0.9s ease;
  color: $black;
  position: relative;
  display: inline-block;

  &:hover {
    border-bottom: 2px solid $sky;
    color: $sky;
  }

  &:active {
    border-bottom: 2px solid $white2;
    color: $white2;
  }

  &--current {
    font-weight: 700;
  }
}

.main-nav__droplist {
  display: none;
  height: 0;
}

.main-nav__item--drop {
  position: relative;
  z-index: 1;
}

.main-nav__item--drop:hover {
  transition: all 0.5s ease;

  .main-nav__droplist {
    transition: all 0.5s ease;
    border-top: 15px solid $opacity0;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-weight: 400;
  }

}

.main-nav__item--drop .main-nav__droplink {

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: $white;
  min-width: 250px;
  transition: all 0.5s ease;

  &:hover {
    background-color: $sky;
    color: $white;
  }
}
