.news .container {
  position: relative;
}

.news__title {
  font-size: 64px;
  font-weight: 400;
}

.news__link-other-news {
  position: absolute;
  right: 27px;
  top: 95px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    color: $sky;
  }

  @media (max-width: 1199px) {
    right: 138px;
  }
}

.news__list {
  display: flex;
  outline: 1px solid gray;

  @media (max-width: 1199px) {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}

.news__list-item {
  width: 33.3%;
  border-right: 1px solid gray;


  &:last-child {
    border: none;
    width: 33.4%;
  }

  @media (max-width: 1199px) {
    width: 100%;
    border-bottom: 1px solid gray;

    &:last-child {
      border-right: 1px solid gray;
      width: 100%;
    }
  }
}

.news__list-item .news__list-item-link {
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-template-rows: minmax(150px, 100%) 393px;
  grid-template-areas: "A B" "C D";
  grid-row-gap: 60px;
  padding: 20px;
  transition: all 0.6s;
  position: relative;
  height: 100%;

  @media (max-width: 1480px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 0;
  }

  @media (max-width: 1199px) {
    display: grid;
    grid-template-columns: 293px 1fr 150px;
    grid-template-rows: 293px;
    grid-template-areas: "A B C";
    grid-column-gap: 20px;
  }

  &:hover {
    background-color: $sky;
    .news__item-title {
      color: $white;
    }
  }
}

.news__item-title {
  grid-area: A;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 28px 0 0 0;
  padding: 0 20px 0 0;

  @media (max-width: 1480px) {
    padding: 0;
    margin: 0;
    min-height: 100px;
  }

  @media (max-width: 1199px) {
    grid-area: B;
    font-size: 19px;
    line-height: 1.5;
  }
}

.news__date {
  grid-area: B;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;

  span {
    font-size: 36px;
    line-height: 42px;
  }


  @media (max-width: 1480px) {
    br {
      display: none;
    }

    font-size: 18px;
    margin: 15px 0;
    width: 100%;
    text-align: right;
  }

  @media (max-width: 1199px) {
    margin: 50px 20px 0 0;
    grid-area: C;
    font-size: 30px;

    br {
      display: block;
    }

    span {
      font-size: 136px;
      line-height: 42px;
      font-weight: 400;
    }
  }
}

.news__img {
  grid-area: C;
  overflow: hidden;


  @media (max-width: 1480px) {
    // grid-area: CD;
    width: 100%;
    height: auto;
    flex: 1 0 auto;
    // flex:0 0 calc(100% - 2vw);
  }

  @media (max-width: 1199px) {
    grid-area: A;
    height: 100%;
  }

  img {
    height: 100%;
    width: auto;
    max-width: none;
    max-height: none;
  }
}

.news__link-see-more {
  grid-area: D;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1480px) {
    display: none;
    grid-area: none;
  }

  &:hover {
    color: $white;
    font-size: larger;
  }
}
