.news .container {
  position: relative;
}

.news__title {
  font-size: 64px;
  font-weight: 400;
}

.news__link-other-news {
  position: absolute;
  right: 27px;
  top: 95px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    color: $sky;
  }
}

.news__list {
  display: flex;
  outline: 1px solid gray;
}

.news__list-item {
  width: 33.3%;
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-template-rows: minmax(150px, 100%) 393px;
  grid-template-areas: "A B" "C D";
  grid-row-gap: 60px;
  padding: 20px;
  transition: all 0.6s;
  position: relative;
  border-right: 1px solid gray;

  @media (max-width: 1480px) {
    grid-template-rows: minmax(150px, 100%) 24vw;
    grid-template-areas: "A B" "C C";
  }

  @media (max-width: 1480px) {
    // grid-template-rows: minmax(150px, 100%) 34vw;
    // grid-template-areas: "A B" "C C";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 0;
  }


  &:hover {
    background-color: $sky;
    .news__item-title {
      color: $white;
    }
  }

  &:last-child {
    border: none;
    width: 33.4%;
  }

}

.news__item-title {
  grid-area: A;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 28px 0 0 0;
  padding: 0 20px 0 0;

  @media (max-width: 1480px) {
    padding: 0;
    margin: 0;
  }
}

.news__date {
  grid-area: B;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;

  span {
    font-size: 36px;
    line-height: 42px;
  }


  @media (max-width: 1480px) {
    br {
      display: none;
    }

    font-size: 18px;
    margin: 15px 0;
    width: 100%;
    text-align: right;
  }
}

.news__img {
  grid-area: C;


  @media (max-width: 1480px) {
    // grid-area: CD;
    width: 100%;
    height: auto;
    flex: 1 0 auto;
  }
}

.news__link-see-more {
  grid-area: D;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1480px) {
    display: none;
    grid-area: none;
  }

  &:hover {
    color: $white;
    font-size: larger;
  }
}
