.pulications-main .container {
  position: relative;
}

.pulications-main__title {
  font-size: 64px;
  font-weight: 400;
  text-align: left;
}

.pulications-main__link-other-publ {
  position: absolute;
  right: 27px;
  top: 95px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    color: $sky;
  }

  @media (max-width: 1120px) {
    right: 122px;
  }
}

.pulications-main__list {
  display: flex;
  // column-gap: 30px;
  outline: 1px solid gray;

  @media (max-width: 1120px) {
    flex-wrap: wrap;
    justify-content: center;
    outline: none;
  }
}

.publications-main__list-item {
  width: 33.3%;
  border-right: 1px solid gray;

  &:last-child {
    border: none;
    width: 33.4%;
  }

  @media (max-width: 1120px) {
    width: 40%;
    border: 1px solid gray;
    max-height: 350px;

    &:first-child {
      border-right: none;
    }

    &:last-child {
      border: 1px solid gray;
      width: 40%;
      margin: 0 auto;
    }
  }
}

.publications-main__img {
  overflow: hidden;
  height: 480px;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 0 25px 0;

  img {
    width: 640px * 1.2;
    height: 480px * 1.2;
    display: block;
    max-width: none;
    max-height: none;
    transition: all 0.7s ease-in-out;
    &:hover {
      height: 480px * 1.1;
      width: 640px * 1.1;
    }
  }

  @media (max-width: 1120px) {
    margin: 0;
  }
}

.publications-main__list-item .publications-main__list-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;

  &:first-child {
    .publications-main__img img {
      position: absolute;
      bottom: 1px;
      right: -133px;
    }
  }

  &:nth-child(2) {
    .publications-main__img img {
      position: absolute;
      bottom: 1px;
      right: -66px;
    }
  }

  &:last-child {
    .publications-main__img img {
      position: absolute;
      bottom: 2px;
      right: -89px;
    }
  }

  transition: all 0.5s;

  &:hover {
    background-color: $sky;
  }

  &:hover {
    .publications-main__item-title {
        color: $white;
    }
  }
}

.publications-main__list-item:first-child .publications-main__list-item-link {
  @media (max-width: 1120px) {
    .publications-main__img {
      height: 233px;

      img {
        position: absolute;
        bottom: -196px;
        right: -120px;
        width: 640px * 1.1;
        height: 480px * 1.1;

        &:hover {
          height: 480px;
          width: 640px;
        }
      }
    }
  }
}

.publications-main__list-item:nth-child(2) .publications-main__list-item-link {
  @media (max-width: 1120px) {
    .publications-main__img {
      height: 233px;

      img {
        position: absolute;
        bottom: 0;
        right: -16px;
        width: 640px * 0.7;
        height: 480px * 0.7;

        &:hover {
          height: 480px * 0.8;
          width: 640px * 0.8;
        }
      }
    }
  }
}

.publications-main__list-item:nth-child(3) .publications-main__list-item-link {
  @media (max-width: 1120px) {
    .publications-main__img {
      height: 233px;
      // border: 1px;

      img {
        position: absolute;
        bottom: -69px;
        right: -3px;
        width: 640px * 0.7;
        height: 480px * 0.7;

        &:hover {
          height: 480px * 0.8;
          width: 640px * 0.8;
        }
      }
    }
  }
}

.publications-main__item-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 0 15px 25px 15px;
  flex: 1 0 auto;
  transition: all 0.6s ease-in-out;
  margin: 0;

  @media (max-width: 1120px) {
    // max-height: 67px;
    font-size: 36px;
    padding: 15px 15px 15px 15px;
  }
}

.publications-main__link-read-more {
  position: absolute;
  bottom: 15px;
  left: 36px;
  font-size: 20px;
  transition: all 0.3s;

  &:hover {
    font-size: 25px;
    color: $white;
  }
}

.fa-solid {

}

.fa-arrow-right-long {

}

