.publications .container {
}

.publications__title {
  font-size: 64px;
  font-weight: 400;
  width: 100%;

  @media (max-width: 540px) {
    font-size: 36px;
    margin: 40px 0 0 20px;
  }
}

.puslications__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.publications__item {
  position: relative;
  width: 30%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 310px
                      30px
                      30px
                      minmax(70px, max-content);
  row-gap: 20px;
  grid-template-areas:  "D D"
                        "C C"
                        "A A"
                        "B E";
  background-color: #eaeaea;
  margin: 25px 25px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 18px -2px #ccc, -7px -7px 18px -2px #ccc;
  transition: $transition-fast;

  &:hover {
    background-color: $sky;
    transition: $transition-fast;

    .publications__item-img img {
      height: 105%;
      width: 105%;
      transition: $transition-slow;
    }
  }

  &:last-child {
    margin: 25px 0 25px 35.3%;
  }
}

.publications__item-title {
  grid-area: A;
  font-weight: 400;
  margin: 0;
}

.publications__item-img {
  grid-area: D;
  border-radius: 20px;
  overflow: hidden;
  transition: $transition-slow;

  img {
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
    transition: $transition-slow;
  }
}

.publications__item-date {
  grid-area: C;
  margin: 0;
  font-size: 18px;
  color: #555151;
}

.publications__item-desc {
  grid-area: B;
  margin: 0;
}

.publications__item-link {
  grid-area: E;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  transition: $transition-slow;

  &:hover {
    font-size: 22px;
    transition: $transition-slow;
    color: white;
  }
}

.fa-solid {

}

.fa-arrow-right-long {

}
