.publications .container {
  background: url(../img/hero/hero-rect.svg), url(../img/hero/hero-rect.svg);
  background-position: 665px 18px, 1272px 49px;
  background-repeat: no-repeat;
}


.publications__title {
  font-size: 64px;
  line-height: 75px;
  margin: 0;
}

.puslications__list {

}

.publications__item {
  border-top: 1px solid $black;
}

.publications__accordion {
  padding: 10px;
  // margin: 10px;
  width: 100%;
  border: none;
  background-color: $white;
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  cursor: pointer;
  position: relative;
}

.is-opened {
  background-color: $sky;
}

.publications__accordion:hover {
  background-color: $sky;
  transition: background-color 0.2s ease-in-out;
}

button.publications__accordion::after {
  content: "+";
  position: absolute;
  right: 20px;
}

.publications__accordion.is-opened::after {
  content: "-"
}

.publications__item-inner {
  padding: 0 0 0 50px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 40px minmax(190px, 100%) 50px;
  grid-template-areas: "A B" "A C" "A D";
  grid-column-gap: 30px;
  background-color: $sky;
}

.publications__item-img {
  padding: 10px 0 0 0;
  grid-area: A;

}

.publications__item-date {
  grid-area: B;
  margin: 15px 0 0 0;
  font-size: 20px;
  color: $white2;
}

.publications__item-desc {
  grid-area: C;
  color: $white;
  font-size: 25px;
}

.publications__item-link {
  grid-area: D;
  font-size: 25px;
  line-height: 21px;
  color:$white;
  transition: $transition-slow;

  &:hover {
    color: $white2;
    transition: $transition-slow;
  }
}

