.video-iframe {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 720px;

  iframe {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1199px) {
    width: 100%;
    height: auto;
  }

  // @media (max-width: 560px) {
  //   height: 400px;
  // }

  // @media (max-width: 560px) {
  //   height: 300px;
  // }

  // @media (max-width: 320px) {
  //   height: 200px;
  // }
}

.video-iframe__link img {
  @media (max-width: 1199px) {
    margin: 0 auto;
  }
}


.video-iframe__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  padding: 0;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }
  display: none;
}

.video-iframe__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
  transition: $transition-fast;
}


.video-iframe:hover .video-iframe__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
  transition: $transition-fast;
}

.video-iframe__button-icon {
  fill: #ffffff;
}

.video-iframe--enabled .video-iframe__button {
  display: block;
}
