$opacity0: rgba(0 0 0 / 0);
$black: #000000;
$sky: #5b8ccb;
$white: #fff;
$white-op03: rgba(100, 100, 100, 0.3);
$white1: #fdfdfd;
$white2: #cecece;
$line: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
