$opacity0: rgba(0 0 0 / 0);
$black: #000000;
$sky: #5b8ccb;
$white: #fff;
$white1: #fdfdfd;
$white2: #cecece;
$line: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);

$transition-slow: all 0.5s ease-in-out;
$transition-fast: all 0.2s ease-in-out;
