html {
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: "PT Sans", "Arial", sans-serif;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.page__body {
  font-family: "Roboto";
  font-weight: 400;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1600px;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link:hover {
  color: orange;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url("../img/hero/background1200x707.svg");
  background-repeat: no-repeat;
  background-position: center -76px;
  background-size: 1200px 739px;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

.will-be {
  margin: 20px 0 20px 0;
}

.will-be .container {
  min-height: 300px;
  position: relative;
  border: 4px dashed #5b8ccb;
}

.will-be-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #5b8ccb;
}

.header {
  min-height: 85px;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%) no-repeat center bottom/1560px 2px;
}

.header .container {
  position: relative;
}

.header__logo {
  position: absolute;
  right: 19px;
  top: 20px;
  width: 40px;
  height: 50px;
}

.header__img {
  transition: all 0.5s ease;
}
.header__img:hover {
  fill: #5b8ccb;
}
.header__img:active {
  fill: #cecece;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 34px 0 0 0;
}

.main-nav__item {
  margin: 0 59px 0 0;
  padding: 0 0 6px 0;
  font-size: 19px;
  line-height: 21px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.9s ease;
  color: #000000;
  position: relative;
  display: inline-block;
}
.main-nav__item:hover {
  border-bottom: 2px solid #5b8ccb;
  color: #5b8ccb;
}
.main-nav__item:active {
  border-bottom: 2px solid #cecece;
  color: #cecece;
}
.main-nav__item--current {
  border-bottom: 2px solid #5b8ccb;
  color: #5b8ccb;
}

.main-nav__droplist {
  display: none;
  height: 0;
}

.main-nav__item--drop {
  position: relative;
  z-index: 1;
}

.main-nav__item--drop:hover {
  transition: all 0.5s ease;
}
.main-nav__item--drop:hover .main-nav__droplist {
  transition: all 0.5s ease;
  border-top: 15px solid rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  position: absolute;
  font-weight: 400;
}

.main-nav__item--drop .main-nav__droplink {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff;
  min-width: 250px;
  transition: all 0.5s ease;
}
.main-nav__item--drop .main-nav__droplink:hover {
  background-color: #5b8ccb;
  color: #fff;
}

.hero {
  margin: 59px 0 0 0;
  max-width: 1600px;
  position: relative;
  background: url("../img/hero/hero-img170x170.jpg"), url("../img/hero/hero-img678x407.jpg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg");
  background-repeat: no-repeat;
  background-position: 20px 21px, right 20px top 142px, right 1118px top 32px, right 1311px top 137px, right 934px top 136px, right 1118px top 513px;
  background-size: 170px 170px, 678px 407px, 30px 30px, 30px 30px, 30px 30px, 30px 30px;
}
@media (max-width: 1550px) {
  .hero {
    background-position: 20px 21px, right 20px top 142px, left 402px top 32px, left 208px top 137px, left 584px top 136px, left 402px top 513px;
  }
}
@media (max-width: 1450px) {
  .hero {
    background: url("../img/hero/hero-img678x407.jpg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg");
    background-repeat: no-repeat;
    background-position: right 20px top 142px, left 402px top 32px, left 208px top 137px, left 584px top 136px, left 402px top 513px;
    background-size: 678px 407px, 30px 30px, 30px 30px, 30px 30px, 30px 30px;
  }
}
@media (max-width: 1345px) {
  .hero {
    background-position: right 20px top 142px, right 913px top 32px, right 1102px top 137px, right 731px top 136px, right 913px top 513px;
  }
}
@media (max-width: 1240px) {
  .hero {
    background-position: right 20px top 142px, left 300px top 32px, left 111px top 137px, left 479px top 136px, left 300px top 513px;
    background-size: 55% auto, 30px 30px, 30px 30px, 30px 30px, 30px 30px;
  }
}
@media (max-width: 1240px) {
  .hero {
    background: url("../img/hero/hero-img678x407.jpg");
    background-repeat: no-repeat;
    background-position: right 20px top 142px;
    background-size: 55% auto;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin: 0 423px 56px 0;
  width: 780px;
  height: 496px;
  align-self: flex-end;
}
@media (max-width: 1240px) {
  .hero__title {
    margin: 0 0 85px 0;
    align-self: flex-start;
  }
}
@media (max-width: 1200px) {
  .hero__title {
    margin: 0 0 82px 0;
    align-self: flex-start;
    width: 67%;
    height: auto;
  }
}

.hero__list {
  display: flex;
  margin: 147px 0 0 0;
  text-align: start;
}

.hero__list-item {
  background-color: #5b8ccb;
  margin: 0 2px 0 0;
  padding: 20px;
}
.hero__list-item:first-child {
  width: 527px;
}
.hero__list-item:nth-child(2) {
  width: 524px;
}
.hero__list-item:last-child {
  width: 504px;
  margin: 0;
}

.hero__list-item-title {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #fdfdfd;
  margin: 15px 0 0 0;
}

.hero__text {
  font-size: 24px;
  color: #cecece;
  margin: 15px 0 0 0;
}

.hero__priest-info {
  position: absolute;
  top: 300px;
  left: 22px;
  display: block;
  width: 214px;
  min-height: 200px;
}
@media (max-width: 1450px) {
  .hero__priest-info {
    display: none;
  }
}

.history .container {
  margin: 0 0 0 0;
  border-top: 2px solid linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.history__article {
  min-height: 3500px;
  background: url("../img/history/history-main1560x680.jpg"), url("../img/history/history1-634x610.jpg"), url("../img/history/history2-1560x680.jpg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg");
  background-repeat: no-repeat;
  background-size: 1560px 680px, 634px 610px, 1560px 680px, 30px 30px, 30px 30px, 30px 30px, 30px 30px;
  background-position: center 38px, 790px 1231px, center 1992px, 0 1049px, 179px 2840px, 1176px 3228px, 1445px 2697px;
}

.history__title {
  padding: 734px 718px 0 0;
  margin: 0;
  font-weight: 400;
  font-size: 67px;
}

.history__text {
  font-size: 16px;
  line-height: 19px;
}
.history__text:nth-child(2) {
  margin: -16px 0 0 0;
  padding: 0 0 0 793px;
}
.history__text:nth-child(3) {
  margin: 20px 0 0 0;
  padding: 0 0 0 793px;
}
.history__text:nth-child(4) {
  margin: 150px 0 0 0;
  padding: 0 797px 0 0;
}
.history__text:nth-child(5) {
  margin: 19px 0 0 0;
  padding: 0 818px 0 0;
}
.history__text:nth-child(6) {
  margin: 1268px 0 0 0;
  padding: 0 535px 0;
}
.history__text:nth-child(7) {
  margin: 18px 0 0 0;
  padding: 0 535px 0;
}
.history__text:nth-child(8) {
  margin: 22px 0 0 0;
  padding: 0 535px 0;
}

.publications .container {
  background: url(../img/hero/hero-rect.svg), url(../img/hero/hero-rect.svg);
  background-position: 665px 18px, 1272px 49px;
  background-repeat: no-repeat;
}

.publications__title {
  font-size: 64px;
  line-height: 75px;
  margin: 0;
}

.publications__item {
  border-top: 1px solid #000000;
}

.publications__accordion {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #fff;
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  cursor: pointer;
  position: relative;
}

.is-opened {
  background-color: #5b8ccb;
}

.publications__accordion:hover {
  background-color: #5b8ccb;
  transition: background-color 0.2s ease-in-out;
}

button.publications__accordion::after {
  content: "+";
  position: absolute;
  right: 20px;
}

.publications__accordion.is-opened::after {
  content: "-";
}

.publications__item-inner {
  padding: 0 0 0 50px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 40px minmax(190px, 100%) 50px;
  grid-template-areas: "A B" "A C" "A D";
  grid-column-gap: 30px;
  background-color: #5b8ccb;
}

.publications__item-img {
  padding: 10px 0 0 0;
  grid-area: A;
}

.publications__item-date {
  grid-area: B;
  margin: 15px 0 0 0;
  font-size: 20px;
  color: #cecece;
}

.publications__item-desc {
  grid-area: C;
  color: #fff;
  font-size: 25px;
}

.publications__item-link {
  grid-area: D;
  font-size: 25px;
  line-height: 21px;
  color: #fff;
  transition: color 0.4s ease-in-out;
}
.publications__item-link:hover {
  color: #cecece;
  transition: color 0.4s ease-in-out;
}

.about-family .container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg");
  background-repeat: no-repeat;
  background-position: 148px 168px, 1500px 457px, 1457px 1862px, 1550px 2562px, 1422px 3662px, 54px 1233px, 154px 3233px, 54px 4233px, 154px 5233px, 1457px 5862px, 1557px 4862px;
}

.about-family__title {
  margin: 20px 0 0 0;
  font-size: 64px;
  line-height: 75px;
}

.about-family__text {
  font-size: 20px;
  padding: 0 200px;
}
.about-family__text:nth-child(13) {
  padding: 0 200px 0 857px;
}
.about-family__text:nth-child(14) {
  padding: 0 200px 0 857px;
}
.about-family__img {
  padding: 0 200px;
}
.about-family__img2 {
  align-self: flex-start;
  position: absolute;
  top: 2835px;
  left: 222px;
}

.video .container {
  display: flex;
  flex-direction: column;
}

.video__title {
  font-weight: 400;
  font-size: 64px;
  margin: 0;
}

.video__doc-film {
  display: flex;
  flex-direction: column;
}

.video__doc-film-title {
  font-weight: 400;
  text-align: center;
}

.video__iframe {
  width: 100%;
  max-width: 960px;
  height: 720px;
  align-self: center;
}
.video__iframe iframe {
  width: 100%;
  height: 100%;
}

.video__doc-film-desc {
  width: 100%;
  max-width: 960px;
  align-self: center;
  font-size: 25px;
}

.video__others-item {
  border-top: 1px solid #000000;
}

.video__button {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #fff;
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  cursor: pointer;
  position: relative;
}
.video__button:hover {
  background-color: #5b8ccb;
  transition: background-color 0.2s ease-in-out;
}

button.video__button::after {
  content: "+";
  position: absolute;
  right: 20px;
}

button.video__button.is-opened::after {
  content: "-";
}

.video__inner {
  padding: 0 0 0 50px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  background-color: #5b8ccb;
}
.video__inner .video__iframe {
  margin: 0 auto 10px;
}

.video__link-channel {
  display: block;
  background-color: #5b8ccb;
  border-top: 1px solid #000000;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  cursor: pointer;
  position: relative;
}
.video__link-channel:hover {
  background-color: #5b8ccb;
  transition: background-color 0.2s ease-in-out;
}

.is-opened {
  background-color: #5b8ccb;
}

.priest .container {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 150px 500px;
  grid-template-areas: "A A" "B C";
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  background: url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg");
  background-position: 329px 197px, 79px 402px, 339px 525px;
  background-repeat: no-repeat;
}
@media (max-width: 1410px) {
  .priest .container {
    background-position: 229px 297px, 19px 402px, 239px 525px;
  }
}
@media (max-width: 1320px) {
  .priest .container {
    background: none;
  }
}

.priest__title {
  grid-area: A;
  font-size: 64px;
  font-weight: 400;
  text-align: left;
}

.priest__info {
  margin: 0 50px 0 425px;
  grid-area: B;
}
@media (max-width: 1410px) {
  .priest__info {
    margin: 0 50px 0 298px;
  }
}
@media (max-width: 1320px) {
  .priest__info {
    margin: 0 50px 0 100px;
  }
}
@media (max-width: 1270px) {
  .priest__info {
    margin: 0 50px 0 20px;
  }
}

.priest__info-title {
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  padding: 20px 0 20px 0;
  font-size: 36px;
  line-height: 42px;
}
@media (max-width: 1410px) {
  .priest__info-title {
    text-align: right;
  }
}

.priest__desc {
  text-align: left;
  padding: 10px 0 10px 0;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 1410px) {
  .priest__desc {
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 1320px) {
  .priest__desc {
    font-size: 19px;
    line-height: 21px;
  }
}
@media (max-width: 1270px) {
  .priest__desc {
    font-size: 19px;
    line-height: 21px;
  }
}

.sim-slider {
  grid-area: C;
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url("sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url("sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
  opacity: 1;
}

div.sim-slider-arrow-right:hover {
  opacity: 1;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-40px);
}

.map {
  padding: 0 0 20px 0;
}

.map .container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 150px 700px;
  grid-template-areas: "A A" "B C";
  grid-row-gap: 50px;
}

.map__title {
  grid-area: A;
  font-size: 64px;
  font-weight: 400;
}

.map__iframe {
  grid-area: C;
}

.news .container {
  position: relative;
}

.news__title {
  font-size: 64px;
  font-weight: 400;
}

.news__link-other-news {
  position: absolute;
  right: 27px;
  top: 95px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.news__link-other-news:hover {
  color: #5b8ccb;
}

.news__list {
  display: flex;
  outline: 1px solid gray;
}

.news__list-item {
  width: 33.3%;
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-template-rows: minmax(150px, 100%) 393px;
  grid-template-areas: "A B" "C D";
  grid-row-gap: 60px;
  padding: 20px;
  transition: all 0.6s;
  position: relative;
  border-right: 1px solid gray;
}
@media (max-width: 1480px) {
  .news__list-item {
    grid-template-rows: minmax(150px, 100%) 24vw;
    grid-template-areas: "A B" "C C";
  }
}
@media (max-width: 1480px) {
  .news__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 0;
  }
}
.news__list-item:hover {
  background-color: #5b8ccb;
}
.news__list-item:hover .news__item-title {
  color: #fff;
}
.news__list-item:last-child {
  border: none;
  width: 33.4%;
}

.news__item-title {
  grid-area: A;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 28px 0 0 0;
  padding: 0 20px 0 0;
}
@media (max-width: 1480px) {
  .news__item-title {
    padding: 0;
    margin: 0;
  }
}

.news__date {
  grid-area: B;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}
.news__date span {
  font-size: 36px;
  line-height: 42px;
}
@media (max-width: 1480px) {
  .news__date {
    font-size: 18px;
    margin: 15px 0;
    width: 100%;
    text-align: right;
  }
  .news__date br {
    display: none;
  }
}

.news__img {
  grid-area: C;
}
@media (max-width: 1480px) {
  .news__img {
    width: 100%;
    height: auto;
    flex: 1 0 auto;
  }
}

.news__link-see-more {
  grid-area: D;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1480px) {
  .news__link-see-more {
    display: none;
    grid-area: none;
  }
}
.news__link-see-more:hover {
  color: #fff;
  font-size: larger;
}

.pulications-main__title {
  font-size: 64px;
  font-weight: 400;
  text-align: left;
}

.pulications-main__list {
  display: flex;
}

.publications-main__list-item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 10px 0;
  transition: all 0.5s;
}
.publications-main__list-item:first-child .publications-main__img img {
  position: absolute;
  bottom: 1px;
  right: -133px;
}
.publications-main__list-item:nth-child(2) .publications-main__img img {
  position: absolute;
  bottom: 1px;
  right: -66px;
}
.publications-main__list-item:last-child .publications-main__img img {
  position: absolute;
  bottom: 2px;
  right: -89px;
}
.publications-main__list-item:hover {
  background-color: #5b8ccb;
}

.publications-main__img {
  overflow: hidden;
  height: 480px;
  width: 100%;
  display: block;
  position: relative;
}
.publications-main__img img {
  width: 768px;
  height: 576px;
  display: block;
  max-width: none;
  max-height: none;
  transition: all 0.7s ease-in-out;
}
.publications-main__img img:hover {
  height: 528px;
  width: 704px;
}

.publications-main__item-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 0 0 50px 0;
}

.publications-main__link-read-more {
  position: absolute;
  bottom: 15px;
  left: 36px;
  font-size: 20px;
  transition: all 0.3s;
}
.publications-main__link-read-more:hover {
  font-size: 25px;
  color: #fff;
}

.film .container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 50px;
  background: url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg"), url("../img/hero/hero-rect.svg");
  background-position: right 329px top 197px, right 79px top 402px, right 339px top 525px, right 637px top 684px;
  background-repeat: no-repeat;
}

.film__title {
  width: 100%;
  font-size: 64px;
  font-weight: 400;
}

.film__content {
  width: 45%;
  height: 600px;
}
.film__content iframe {
  width: 100%;
  height: 100%;
}

.film__authors {
  width: 25%;
  font-size: 20px;
}
.film__authors p a {
  color: #5b8ccb;
}
.film__authors p a:hover {
  color: orange;
}

.footer .container {
  position: relative;
}

.footer__list {
  background-color: #5b8ccb;
  display: flex;
  margin: 0 0 0 0;
  min-height: 306px;
}

.footer__list-item {
  padding: 20px;
  width: 33.3%;
  display: flex;
  flex-direction: column;
}
.footer__list-item:last-child .footer__list-item-title {
  text-align: left;
  padding: 0 0 0 50px;
}

.footer__list-item-title {
  text-align: right;
  color: orange;
  font-size: 29px;
  font-weight: 700;
}

.footer__list-item-link {
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  text-align: right;
  padding: 10px 10px;
}
.footer__list-item-link:hover {
  color: orange;
}

.footer__list-soc-networks {
  padding: 0 10px 0 0;
  font-size: 70px;
  text-align: right;
  color: #fff;
}
.footer__list-soc-networks a {
  transition: all 0.5s ease-in-out;
}
.footer__list-soc-networks a:hover {
  color: orange;
}

.footer__logo {
  margin: 0 10% 0 10%;
  width: 80%;
}
.footer__logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
.footer__logo svg:hover {
  fill: rgb(107, 168, 238);
}

.footer__developed {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 10px 20px;
  background-color: rgb(37, 37, 37);
}

.footer__citation {
  width: 50%;
  margin: 0 0 0 0;
  color: #cecece;
}

.footer__developer {
  color: #cecece;
  width: 50%;
  margin: 0 0 0 0;
}
.footer__developer:nth-child(2) {
  text-align: end;
}
.footer__developer:nth-child(3) {
  margin: 7px 0 0 0;
}
.footer__developer:last-child {
  text-align: end;
  margin: 7px 0 0 0;
}

.footer__link {
  color: rgb(123, 107, 107);
}
.footer__link:hover {
  color: orange;
}

.footer__organization-info,
.footer__organization-inn,
.footer__organization-kpp,
.footer__organization-ogrn,
.footer__organization-bank-order,
.footer__organization-ks,
.footer__organization-bik,
.footer__organization-bank-inn,
.footer__organization-bank-ogrn {
  padding: 5px 10px;
  margin: 0 10px 0 0;
  color: #fff;
  text-align: left;
  font-size: 19px;
}
.footer__organization-info:hover,
.footer__organization-inn:hover,
.footer__organization-kpp:hover,
.footer__organization-ogrn:hover,
.footer__organization-bank-order:hover,
.footer__organization-ks:hover,
.footer__organization-bik:hover,
.footer__organization-bank-inn:hover,
.footer__organization-bank-ogrn:hover {
  color: orange;
}
/*# sourceMappingURL=style.css.map */